httpx
pyotp
asyncio
psutil
pypiwin32
pycryptodome
PIL-tools
asyncio
threaded
requests
datetime
colorama
pyinstaller
pillow
pycryptodome
alive-progress
winregistry
pywin32
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability